<header>
	<div>
		<div class="nav_links">
			<a id = 'in' href="/user/new_user"> Sign Up</a>
			<a id = 'up' href="/session/new_session"> Sign In</a>
		</div>
		<div class="image">

		</div>
		<div class="sty">
		<h1> Chitter </h1>

		</div>
		<div class="band">
			<a id = "twitts" href="/user/twitts"> TWEETS </a>
			<a id = "fo" href="/session/following"> FOLLOWING </a>
			<a id = "foll" href="session/followers">FOLLOWERS</a>

		</div>
		<div class="profile_pic">
		</div>



	</div>


</header>

